api: {}
apiVersion: goobers.dev/v1alpha1
externalTelemetry: {}
kind: Instance
portal:
  brand: {}
  support: {}
  theme: {}
repos:
- name: your-repo
  owner: your-org
  provider: github
  token:
    env: GOOBERS_GITHUB_TOKEN
retention: {}
runConditions:
  maxParallelRuns: 1
runner: {}
telemetry: {}
webhook:
  secret: {}
